!!! 5
!= '<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->'
!= '<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->'
!= '<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->'
!= '<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->'
!= '<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->'
  head
    meta( charset: 'utf-8' )
    meta( name: 'author', content: 'Moritz Peters & Heiko Veigl')
    meta( name: 'description', content: 'A tournement website for online gaming.')
    title e-Tourney
    link( rel: 'stylesheet', href: '/css/default/style.css' )
    script( src: '/js/modernizr-1.6.min.js' )
  body
    #main_container
      header
        #top_left_corner
        #top_bar
          span#top_bar_lang
            - if (this.session.lang !== 'en_US')
              - var american = tr('header:american')
              img( title: american, alt: american, src: '/images/icons/flags/us.png', data-lang: 'en_US')
            - if (this.session.lang !== 'de_DE')
              - var german = tr('header:german')
              img( title: german, alt: german, src: '/images/icons/flags/de.png', data-lang: 'de_DE')
          span#top_bar_time 2010-03-20 13:45:10 UTC
          | worker:
          = workerId
          | worker started at:
          = workerStart
          span#top_bar_logged= tr('header:search')
            a( href: '/User/logout', class: loggedClass )= tr('header:logout')
        #top_right_corner
        #header_main
          a#head_logo
          #head_bg_continuation
          #head_bg_end
          #header_userbox( class: loggedClass ).clearfix
            span.error Login failed!
            form( method: 'POST', action: '/User/login/' )
              label( for: 'login_name' )= tr('user:labels:name')
              input#login_name( name: 'name', type: 'text' )
              label( for: 'login_pwd' )= tr('user:labels:password')
              input#login_pwd( name: 'password', type: 'password' )
              input( type: 'submit', value: tr('userbox:login' ) )
              input( type: 'button', value: tr('user:labels:register') )
            .content
              - var userid = ''
              - if (this.session.hasOwnProperty('user'))
                - userid = this.session.user.id
                script( type: 'text/javascript')
                  | var userSelf = {name:"#{this.session.user.name}",id:#{userid}};
              #userbox_avatar ?
              a#userbox_profile( href: '#User/details/'+userid )
                span
                  - if (this.session.hasOwnProperty('user'))
                    = this.session.user.name
              a#userbox_user( href: '#User/profile' )
                img( src: '', alt: '>' )
                span Edit profile
              a#userbox_team.clearfix
                img( src: '', alt: '>' )
                span Team actions
      nav
        ul
          li
            a( href: "#news" )= tr('navi:news')
          li
            a( href: "#tourn" )= tr('navi:tourneys')
          li
            a( href: "#faq" )= tr('navi:faq')
          li
      #nav_shadow
      - if (typeof(show_quicklist) !== 'undefined')
        table#quicklist
          thead
            tr
              th( colspan:"5" )= table.name + " Turniere"
          tbody
            - each tourn in table.tourns
              tr
                td
                  img( src: "icon.png" )
                td= "0000.00.00 00:00"
                td= tourn
                td= "Teilnehmer: 5/16"
                td= "Status: kackdreck"
      #body.clearfix
        #content
          #breadcrumb
          #page_news_index( data-lastload: +new Date() )= body
        aside.sponsors
          span Sponsors
          ul
            li Ferrari
            li Intel
            li NASA
      #push_footer
    footer
      div Footer

    script( type: 'text/javascript')
      | var i18n_hash = '#{i18n_hash}';

    #templates

    script( src: '//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js' )
    :javascript
      !window.jQuery && document.write(unescape('%3Cscript src="/js/jquery-1.4.4.min.js"%3E%3C/script%3E'))
    script( src: '/socket.io/socket.io.js' )

    - if (typeof(js_files) !== 'undefined')
      - each file in js_files
        script( src: '/js/merged/'+file )
    - else
      script( src: '/js/' + staticVersions.js + '/merged.js' )
    

    !='<!--[if lt IE 7 ]>'
      script( src: 'js/dd_belatedpng.js' )
      script
        !="DD_belatedPNG.fix('img, .png_bg');"
    !='<![endif]-->'

!='</html>'