!!! 5
!= '<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->'
!= '<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->'
!= '<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->'
!= '<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->'
!= '<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->'
  head
    meta( charset: 'utf-8' )
    meta( name: 'author', content: 'Moritz Peters & Heiko Veigl')
    meta( name: 'description', content: 'A tournement website for online gaming.')
    title e-Tourney
    link( rel: 'stylesheet', href: '/css/default/style.css' )
    script( src: '/js/modernizr-1.5.min.js' )
  body
    #main_container
      header
        #top_bar
          span#top_bar_lang
            a( href: '?lang=de_DE' )= tr('header:german')
            a( href: '?lang=en_US' )= tr('header:english')
          span#top_bar_time 2010-03-20 13:45:10 UTC
          | worker:
          = workerId
          | worker started at:
          = workerStart
          span#top_bar_logged= tr('header:search')
            a( href: '/User/logout', class: loggedClass )= tr('header:logout')
        #header_main
          h1 e
            span.tourney tourney
          #header_userbox( class: loggedClass )
            span.error Login failed!
            form( method: 'POST', action: '/User/login/' )
              label( for: 'login_name' )= tr('user:labels:name')
              input#login_name( name: 'name', type: 'text' )
              label( for: 'login_pwd' )= tr('user:labels:password')
              input#login_pwd( name: 'password', type: 'password' )
              input( type: 'submit', value: tr('userbox:login' ) )
              input( type: 'button', value: tr('user:labels:register') )
            .content
              - if (session.hasOwnProperty('user')) 
                script( type: 'text/javascript')
                  | var userSelf = {name:"#{session.user.name}",id:#{session.user.id}};
              #userbox_avatar ?
              a#userbox_profile
                span
                  - if (session.hasOwnProperty('user')) session.user.name
              a#userbox_user
                img( src: 'arrow.png', alt: '>' )
                span User actions
              a#userbox_team.clearfix
                img( src: 'arrow.png', alt: '>' )
                span Team actions
      nav
        ul
          li
            a.first( href: "/" )= tr('navi:news')
          li
            a.second( href: "/tourn" )= tr('navi:tourneys')
      - if (typeof(show_quicklist) !== 'undefined')
        table#quicklist
          thead
            tr
              th( colspan:"5" )= table.name + " Turniere"
          tbody
            - each tourn in table.tourns
              tr
                td
                  img( src: "icon.png" )
                td= "0000.00.00 00:00"
                td= tourn
                td= "Teilnehmer: 5/16"
                td= "Status: kackdreck"
      #body.clear
        #content!= body
        aside.sponsors
          span Sponsors
          ul
            li Ferrari
            li Intel
            li NASA
      footer Footer
    script( id: 'user_data_self', type: 'application/json')
      != JSON.stringify(session.user)

    script( src: '//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' )
    :javascript
      !window.jQuery && document.write(unescape('%3Cscript src="js/jquery-1.4.2.min.js"%3E%3C/script%3E'))
    script( src: '/js/' + staticVersions.js + '/merged.js' )

    !='<!--[if lt IE 7 ]>'
      script( src: 'js/dd_belatedpng.js' )
      script
        !="DD_belatedPNG.fix('img, .png_bg');"
    !='<![endif]-->'

!='</html>'